<div class="container" *ngIf="!chatService.joined; else block">
    <div class="register-modal">
        <form class="example-form form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <h2>LOGIN</h2>
            <div class="form__container">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Enter your name</mat-label>
                    <input matInput class="form__input" type="email" formControlName='login' autocomplete="new-email">
                </mat-form-field>

            </div>
            <button mat-button type="submit" class=" form__button" [disabled]="formGroup.invalid">LOGIN</button>
        </form>
    </div>
</div>

<ng-template #block>
    <app-new-message (newItemEvent)="selectUser($event)" [currenUser]="currentUser"></app-new-message>


    <div class="table-responsive flex-col col-md-6" *ngIf="chatService.status; else sel">
        <span>All Your Received Messages</span>
        <div class="col-md-2 d-flex align-items-start" style="padding: 0.9375rem 0.4rem">
            <span class="mb-0 text-muted font-weight-bold">{{currentUser}}</span>
        </div>
        <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
            <tbody>
                <!-- row -->
                <tr *ngFor="let message of chatService.messages">
                    <td class="text-muted font-weight-bold">
                        <p class="font-weight-bold">From: {{message.name}}</p>
                    </td>
                    <td class="d-flex flex-col col-md-6 w-100 p-3">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{message.title}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p>{{message.text}}</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </td>
                    <td class="text-muted">{{message.createdAt | date: 'MM d, y, h:mm a'}}</td>
                </tr>
                <!-- row -->
            </tbody>
        </table>
    </div>

    <ng-template #sel>
        <div class="table-responsive flex-col col-md-6">
            <span>All Sent Messages to {{selectedUser}} </span>
            <table class="table email-table no-wrap table-hover v-middle mb-0 font-14">
                <tbody>
                    <!-- row -->
                    <tr *ngFor="let message of chatService.messages">
                        <td class="text-muted font-weight-bold">
                            <p class="mb-0 text-muted font-weight-bold">{{selectedUser}}</p>
                        </td>
                        <td class="d-flex flex-col col-md-3 w-100 p-3">
                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{message.title}}
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>{{message.text}}</p>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </td>
                        <td class="text-muted">{{message.createdAt | date: 'MM d, y, h:mm a'}}</td>
                    </tr>
                    <!-- row -->
                </tbody>
            </table>
        </div>

    </ng-template>

</ng-template>